!!!
%html
  %head
    %title Fesenko-Bokotey
    %link(rel="stylesheet" type="text/css" href="/css/ui-lightness/jquery-ui-1.8.9.custom.css")
    %link(rel="stylesheet" type="text/css" href="/css/local.css")
    %script(type="text/javascript" src="js/jquery-1.4.4.min.js")
    %script(type="text/javascript" src="js/jquery-ui-1.8.9.custom.min.js")
    %script(type="text/javascript" src="js/local.js")
  %body
    = yield