= haml :panel

%ul.upper
  - Family.sort(:index_num).each do |f|
    %li= f.name
    %ul.lower.sortable{:id => f.name}
      - f.species.each do |sp|
        %li.ui-state-default{:id => sp.id}
          %span.wide= sp.data[:name_uk]
          %i= sp.data[:name_sci]
