.sortable { list-style-type: none; margin: 0; padding: 10px; float: left; margin-right: 10px; }
.sortable li { margin: 0 5px 5px 5px; padding: 5px; width: 400px; }

ul.upper > li {
    width: 500px;
    list-style-type: none;
    font-size: 120%;
}

ul.lower {
    list-style-type: none;
}

span.wide   {
    width: 200px;
    display: inline-block;
}
